<html>
  <head>
     <title>Program Explanation</title>
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap" rel="stylesheet">
  <link rel ="stylesheet" href="static/css/about.css">
    
  </head>
  <body>
     <script src="https://replit.com/public/js/replit-badge-v2.js" theme="dark" position="bottom-right"></script>
  
  <div class="navbar">
    <div class="logo">
    <img src='static/logo.png'>
    </div>
     <a href="{{url_for('home_page')}}">Home</a>
    <a href="{{ url_for('services_page') }}">Services</a>
    <a href="{{ url_for('faq_page') }}">FAQ</a>
    <a href="{{ url_for('contact_page') }}">Contact</a>
    <a href="{{ url_for('about_page') }}">About us</a>
    <a href="{{ url_for('login_page') }}" class="sign">Sign in</a>
  </div>
    <h2 id="head"> about us</h2>
   
          <div class ="card">
            <div class="about">
             
    <p>Astra.ai is a leading provider of intelligent chatbot solutions, focused on revolutionizing the way people communicate and enhance their language skills. Through our advanced natural language processing algorithms and artificial intelligence, we aim to empower individuals to communicate with confidence and precision.
    
    Our mission is to make language learning and improvement accessible to everyone. With our innovative technology, our chatbot not only identifies grammatical mistakes but also offers personalized suggestions to help users refine their communication style. We believe that effective communication is the key to success in both personal and professional spheres.
    
    At Astra.ai, we are driven by our passion for language and technology. Our dedicated team of experts is committed to creating a seamless user experience and providing top-notch language solutions. Join us on this journey as we redefine the way people learn and improve their language skills.
    </p>
            </div>
          <img src="static/about.png">
          </div>
       
    
    
    
  </body>
</html>